img {
  width: 100%;
}


.footer {
  width: 100%;
  text-align: center; 
  bottom: 0;
  position: fixed;
}

.landing {
  position: relative;
  background: url('./img/landing.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(67, 63, 63, 0.735);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.link-button {
  color: #069;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1720px;
  }
}

.fa {
  margin: 0 10px;
}

.Modal {
  position: absolute;
  border: 1px solid #343a40;
  border-radius: 10px;
  padding: 30px;
  top: 10%;
  left: 10%;
  right: 10%;
  background-color: #ffffff;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
}

.rbc-row-content {
  z-index: 0
}

.colors {
  flex-direction: row!important;
}

.btn-modal {
  left: 5%;
  bottom: 30px;
}

.icon-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.tags-input {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 48px;
	width: 480px;
	padding: 0 8px;
	border: 1px solid rgb(214, 216, 218);
	border-radius: 6px;
	&:focus-within {
		border: 1px solid #0052cc;
	}
	input {
		flex: 1;
		border: none;
		height: 46px;
		font-size: 14px;
		padding: 4px 0 0 0;
		&:focus {
			outline: transparent;
		}
	}
}

#tags {
	display: flex;
	padding: 0;
	margin: 8px 0 0 0;
}

.tag {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
	background: #0052cc;

}

.tag-title {
  margin-top: 3px;
}

.tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #0052cc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.MuiInputLabel-outlined {
  background-color: #ffffff;
}

.search {
  margin-top: 30px;
  width: 300px;
}

.calendar {
  margin: 0 1em 0 1em;
}

.search_point {
    cursor: pointer;
}

.search_result {
    position: absolute;
    background: #fff;
    width: 400px;
    padding-left: 10px;
    z-index: 100;
}

.tags-input #tags {
    display: block;
}

.footer-margin {
    margin-top: 200px;
}

.calendar-items {
    width: 300px;
}

@media (max-width: 767px) {
    .Modal {
        padding: 10px;
        width: 400px;
        height: 100%;
        overflow: scroll;
        top: 1%;
        left: 1%;
    }
    .tags-input {
        width: 100%;
    }
    .search {
        width: 280px;
    }
    .calendar {
        margin-bottom: 30px;
    }
}

textarea {
    min-width: 350px;
    margin-top: 20px;
}

.calendar-list {
    overflow-y: auto;
    height: 450px;
}

.calendar .MuiFormGroup-root {
    flex-wrap: nowrap;
}

.calendar .category-list {
    display: inline-block;
    margin-top: 30px;
}

.error-text {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}